<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHQKLVxcsEpKdIb8AVnjkot4sEq9Rn0bI</string>
	<key>GCM_SENDER_ID</key>
	<string>492642189680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frenlyApp</string>
	<key>PROJECT_ID</key>
	<string>frendly-app-fe1cc</string>
	<key>STORAGE_BUCKET</key>
	<string>frendly-app-fe1cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492642189680:ios:ec7eabbdc091e53aab4fb5</string>
</dict>
</plist>